<header>
  <p class="view"><a href="https://github.com/umd-mith/sga">View the Project on GitHub <small>umd-mith/sga</small></a></p>
  <ul class="downloads">
    <!-- li><a href="dist/sga.js">Download <strong>Library</strong></a></li>
    <li><a href="dist/sga.min.js">Download <strong>Minified lib</strong></a></li -->
    <li><a href="https://github.com/umd-mith/sga">Fork On <strong>GitHub</strong></a></li>
  </ul>
  <ul>
    <li><a href="code/">Code Documentation</a></li>
    <li><a href="docs/">Reference</a></li>
    <!-- li><a href="tutorials/">View <strong>Tutorials</strong></a></li -->
    <!-- li><a href="demo.html">Demo</a></li -->
  </ul>
</header>
